.navbar {
  background-image: url('images/header-bg.png');

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav {
  margin-left: 100px;
  gap: 20px
}


.navbar-nav .nav-link.active {
  color: blue;
}

.login-btn,
.appoint-btn,
.logout-btn {
  border-radius: 25px;
  background-color: blue;
  padding: auto 20px;
  color: white;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: rgb(93, 93, 234);
}

.container-fluid {
  margin: auto 150px;
}

.container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin: auto 50px;
}

.hero-section{
  background-image: url('images/hero-bg.png');

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-container{
  margin: 50px 50px auto 100px;
}

.title-quote{
  font-weight: 700;
  font-size: 60px;
}

.counter-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  font-size: 30px;
}

.number{
  border-bottom: 4px solid transparent;
  font-weight: 700;
}

.image-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
  margin: 50px 50px auto 10px;
}

.inner-image-container img{
  margin-bottom: 10px;
}
