.navbar {
    background-image: url('../images/header-bg.png');

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav {
    margin-left: 100px;
    gap: 20px
}


.navbar-nav .nav-link.active {
    color: blue;
}

.container-fluid {
    margin: auto 150px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    margin: auto 150px;
}

.details-container{
    padding: 50px 100px;
}

.profile-container{
    border: 1px solid;
    text-align: center;
    padding: 50px 100px;
}

.profile-container p{
    margin-bottom: 5px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.btn-container button{
    margin: 10px;
    padding: 10px;
}

.inner-container{
    margin-top: 10px;
}

input[type=email],input[type=text]{
  width: 60%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid;
}

.update-btn{
    margin-top: 10px;
    padding: 5px;
    background-color: blue;
    color: white;
    border:none;
    transition: all 0.3s ease;
}

.update-btn:hover{
    background-color: rgb(87, 87, 230);
}